<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SPF_Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SPF_WSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53141/SPF_WS.asmx" binding="basicHttpBinding" bindingConfiguration="SPF_WSSoap" contract="ProjectService.SPF_WSSoap" name="SPF_WSSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SPF_Wpf.Properties.Settings>
      <setting name="CS_WS" serializeAs="String">
        <value>http://localhost:53141/SPF_WS.asmx</value>
      </setting>
    </SPF_Wpf.Properties.Settings>
  </applicationSettings>
</configuration>